---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Blog • Aryan Pradhan">
  <h1 class="h1">Blog</h1>
  <p class="p">Coming soon. You can add MD/MDX later.</p>
</BaseLayout>